*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

.mainbox{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    height: 100vh;
    text-align: center;
    background-color: #f0f0f0;
    
}

.todoContainer{
    margin-top: 30px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.todoInput{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todoButton{

    margin: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
}

.todoButton:hover{
    background-color: #218838;
    cursor: pointer;
}

ul.todoList{
    list-style-type: none;
    margin-top: 20px;
}


ul li{
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

